@import '../../styles/styles';

.notification {
  max-width: 70vw;
  font-family: 'Zpix', sans-serif;
  box-shadow: 0 0 10px 5px rgb(160 44 219 / 7%);
  @apply flex rounded bg-white py-4 px-6 items-start mb-4;

  .status {
    @apply text-xl;

    &.success {
      color: #5fcf65;
    }

    &.error {
      color: #ec788d;
    }

    &.warn {
      color: cornflowerblue;
    }
  }

  .title {
    @apply text-lg font-medium;
  }

  .content {
    @apply text-gray-400 text-sm;
  }

  .close {
    transform: scaleY(1.1) scaleX(0.9);
    @extend .pointer;
    @apply text-xl text-gray-400 hover:text-gray-600;
  }
}
