.timeline-input {
  flex: 1;
  width: min(100%, 600px);
  height: auto;
  font-family: 'Zpix', sans-serif;

  @apply mx-auto;

  .timeline-textarea {
    font-size: 30px;
    inline-size: 100%;
    block-size: max(20vh, 150px);

    @apply overflow-hidden sm:rounded;

    textarea {
      padding: 1rem;
      outline: none;

      @apply h-full w-full;
    }
  }

  .assets {
    @apply grid grid-cols-3 gap-2 px-2 py-2 sm:px-0;

    .img {
      @apply aspect-square w-full object-cover;
    }
  }
}
