enable-pre-post-scripts=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=rimraf
public-hoist-pattern[]=*rollup*
public-hoist-pattern[]=npm-run-all
public-hoist-pattern[]=cross-env
public-hoist-pattern[]=tsc-alias
public-hoist-pattern[]=jest
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=husky
public-hoist-pattern[]=@swc/*
public-hoist-pattern[]=@commitlint/*
