.wrap {
  width: 100%;
  min-height: 100%;
  background-color: #f4f5f7;
}

.container {
  width: 900px;
  background-color: white;
  @apply mx-auto p-4 rounded shadow my-4;
  .author {
    .avatar {
      @apply rounded-full;
    }
  }
  .content {
    @apply text-lg;
  }
}
