@import '../../src/styles/styles';

.wrap {
  width: 100%;
  min-height: calc(100% - var(--nav-height));
  background-color: #fcfcff;
  @apply p-4;
}

.container {
  width: 90%;
  margin: auto;
  font-family: 'Fira Code', sans-serif;
  background-color: white;
  box-shadow: 2px 2px 3px 3px rgb(160 44 219 / 7%);
  @screen sm {
    width: 600px;
  }
  @apply mx-auto p-4 rounded mb-6;
  .author {
    @apply flex justify-start items-center mb-4;
    .avatar {
      @apply w-14 mr-4;
      img {
        @apply rounded-full;
      }
    }
    .nickname {
      @include rainbowText;
    }
  }
  .content {
    @apply text-lg;
    .text {
      font-family: 'Zpix', serif;
      @apply text-base font-normal text-gray-600;
    }
    .assets {
      img {
        width: 100px;
        height: 100px;
        border: 1px solid beige;
        @apply mt-4;
      }
    }
  }
}
