.wrap {
  position: fixed;
  inset: 0;
  z-index: var(--image-preview-z-index);
  backdrop-filter: blur(10px);
  user-select: none;

  &.clear {
    backdrop-filter: none;
  }

  .image {
    object-fit: contain;
    @apply absolute;
  }

  .w-full-image {
    @screen sm {
      width: calc(100% - 70px * 2);
    }
  }

  .with {
    @apply w-full h-full top-0;
  }

  .next {
    position: absolute;
    top: 50%;
    right: 1rem;
    font-size: 2rem;
    transform: translateY(-50%);
    @apply opacity-60 text-black hidden sm:block;

    @media (hover: hover) {
      &:hover {
        @apply text-blue-400;
      }
    }
  }

  .prev {
    left: 1rem;
    @extend .next;
  }
}
