.message {
  border-radius: 4px 20px 20px;
  background-color: #fafafa;
  white-space: pre-wrap;
  word-break: break-all;
  padding: 5px 12px;
  line-height: 1.7;
  user-select: text;
  max-width: 70%;
  text-align: left;
  @apply pointer mt-3;

  &.sent {
    border-radius: 20px 4px 20px 20px;
  }
}
