@import '../base';
@import '../../src/styles/styles';

$text-color: #51525d;
.text-color {
  color: $text-color;
}

.body {
  z-index: -1;
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  background-color: #fcfcff;
  @apply w-full p-4;
}

.years {
  .year {
    @apply mr-4 italic text-gray-300;
  }
  .active {
    @apply text-pink-400;
  }
}

.twitter {
  width: 1.5rem;
  height: 1.5rem;
  color: #ccc;
  vertical-align: middle;
}
.github {
  @extend .twitter;
}
.instagram {
  @extend .twitter;
}

.main {
  width: 90%;
  margin: auto;
  font-family: 'Fira Code', sans-serif;
  @apply mt-6;
  @screen sm {
    width: 600px;
  }
  .titles {
    line-height: 3rem;
  }
  .article_title {
    font-family: 'Zpix', sans-serif;
    text-rendering: geometricPrecision;
    @apply text-base hover:text-pink-400 font-normal ml-4;
    @extend .text-color;
    @extend .line-1-ellipsis;
  }
}
