$primary-color: #c9b6e2;
$heading-color: rgb(123 129 144 / 84%);
$main-color: #ffb356;

.markdown-body {
  width: min(900px, 100%);
  // 父元素设置 min-height 子元素设置 height 100% 继承不了的情况解决 给父元素设置 display: flex
  line-height: 2;
  letter-spacing: 1px;
  background-color: #fff;
  background-image: linear-gradient(90deg, rgb(50 0 0 / 5%) 3%, rgb(0 0 0 / 0%) 3%),
    linear-gradient(360deg, rgb(50 0 0 / 5%) 3%, rgb(0 0 0 / 0%) 3%);
  background-position: center center;
  background-size: 20px 20px;
  @apply box-border px-8 py-10;

  .main-color {
    color: $main-color;
  }

  .heading1 {
    border-color: $primary-color;
    border-width: 1px;
    $h-box: -0.5rem;
    @apply relative block p-2 text-center text-black border-solid;

    &::before {
      top: $h-box;
      left: $h-box;
      border-bottom: 1px solid $primary-color;
      content: ' ';
      @apply absolute block w-11/12 h-px;
    }

    .prefix {
      display: block;
      width: 3px;
      height: 3px;
      margin: 0 0 0 2.5rem;
      overflow: hidden;
      line-height: 3px;
      background-color: $primary-color;
      box-shadow: 3px 0 $primary-color, 0 3px $primary-color, -3px 0 $primary-color,
        0 -3px $primary-color;
    }

    .content {
      @apply block px-2 sm:px-16 py-4 sm:py-2 text-2xl font-medium text-center cursor-text;
    }

    .suffix {
      margin: 0 0 0 calc(100% - 2.5rem);
      @extend .prefix;
    }

    &::after {
      right: $h-box;
      bottom: $h-box;
      border-bottom: 1px solid $primary-color;
      content: ' ';
      @apply absolute block w-11/12 h-px;
    }
  }

  h2 {
    color: $heading-color;
    background-image: linear-gradient(45deg, rgb(255 179 86 / 50%), rgb(255 255 255 / 10%) 50%);
    @apply inline-block text-lg align-middle font-semibold my-4 px-2 py-3 relative rounded-lg;

    &::before {
      content: '#';
      color: $main-color;
      @apply pr-2;
    }
  }

  h4 {
    color: $heading-color;
    text-align: left;
    @apply inline-block text-lg font-semibold my-3 px-1 relative;

    &::before {
      content: '###';
      color: $main-color;
      @apply pr-2;
    }

    &::after {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(
        360deg,
        rgb(0 0 0 / 0%) 10%,
        $main-color 10%,
        $main-color 45%,
        rgb(0 0 0 / 0%) 45%
      );
      background-size: 1.75rem 1.75rem;
      opacity: 0.5;
      content: '';
      pointer-events: none;
    }
  }

  h3 {
    color: $heading-color;
    @apply text-lg font-semibold inline-block my-2 relative p-2 px-6;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: '「';
      color: $main-color;
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      content: '」';
      color: $main-color;
    }

    span {
      @apply cursor-text;

      &::before {
        content: '##';
        color: $main-color;
        @apply pr-2;
      }
    }
  }

  pre {
    @apply rounded-lg overflow-hidden my-4 cursor-text;
  }

  .inline-code {
    color: #7887ac;
    font-family: 'Fira Code', sans-serif;
    @apply rounded bg-blue-100 px-2 py-0.5;
  }

  .toolbar {
    position: relative;
    font-family: 'Fira Code', sans-serif;
    background-color: rgb(34 31 31);
    @apply flex text-blue-400 align-middle;

    .toolbar-language {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .toolbar-action {
      margin-left: auto;
      @apply mr-2;
    }

    &::before {
      position: absolute;
      top: 50%;
      z-index: 2;
      width: 11px;
      height: 11px;
      background: #fc625d;
      border-radius: 50%;
      box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
      transform: translate(50%, -50%);
      content: ' ';
    }
  }

  svg {
    display: inline-block;
  }

  p {
    line-height: 2rem;
    @apply cursor-text;
  }

  strong {
    @apply font-semibold text-base;
  }

  // blockquote
  .blockquote {
    @apply p-4 bg-gray-300 border-l-4 border-purple-400 my-4;

    p {
      @apply my-0;
    }
  }

  // table
  .table {
    border: darkgrey 2px dashed;
    cursor: text;

    thead {
      border-bottom: cornflowerblue 2px solid;

      tr {
        th {
          padding: 1em;
          border-left: cornflowerblue 2px solid;
          width: max-content;

          &:first-child {
            border: none;
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: darkgrey 2px dashed;

        td {
          padding: 0.5em;
          text-align: center;
          border-left: cornflowerblue 2px solid;
          width: max-content;

          &:first-child {
            border: none;
          }
        }
      }
    }
  }

  .post-info {
    @apply text-center mt-4;

    .post-info-comment {
      color: $heading-color;
      @apply text-sm align-middle;
    }
  }

  ul {
    display: block;
    padding-left: 2em;
    list-style-type: disc;
    cursor: text;

    &.contains-task-list {
      padding-left: 1em;
      list-style-type: none;
    }

    li {
      display: list-item;
      padding-left: 0.2em;

      &::marker {
        color: $heading-color;
      }
    }
  }

  ol {
    padding-left: 1em;
    @apply block cursor-text;

    li {
      display: list-item;

      .ordered-list-index {
        pointer-events: none;
        user-select: none;
        @apply text-blue-400 pr-2;

        &::after {
          content: '.';
        }
      }
    }
  }

  .anchor {
    position: absolute;
    top: calc(-0.5rem - var(--nav-height));
  }
}
