$primary-color: #c9b6e2;
$heading-color: black;
$main-color: #ffb356;

.markdown-body {
  width: min(900px, 100%);
  // 父元素设置 min-height 子元素设置 height 100% 继承不了的情况解决 给父元素设置 display: flex
  line-height: 2;
  letter-spacing: 1px;
  background-color: #fff;
  background-image: linear-gradient(90deg, rgb(50 0 0 / 5%) 3%, rgb(0 0 0 / 0%) 3%),
    linear-gradient(360deg, rgb(50 0 0 / 5%) 3%, rgb(0 0 0 / 0%) 3%);
  background-position: center center;
  background-size: 20px 20px;
  word-break: break-word;
  @apply box-border px-6 py-14 sm:py-10;

  hr {
    @apply my-4 border-dashed border-gray-400;
  }

  .heading1 {
    border-color: $primary-color;
    border-width: 1px;
    $h-box: -0.5rem;
    @apply relative block border-solid p-2 text-center;

    &::before {
      top: $h-box;
      left: $h-box;
      border-bottom: 1px solid $primary-color;
      content: ' ';
      @apply absolute block h-px w-11/12;
    }

    .prefix {
      display: block;
      width: 3px;
      height: 3px;
      margin: 0 0 0 2.5rem;
      overflow: hidden;
      line-height: 3px;
      background-color: $primary-color;
      box-shadow: 3px 0 $primary-color, 0 3px $primary-color, -3px 0 $primary-color,
        0 -3px $primary-color;
    }

    .content {
      color: $heading-color;
      @apply block min-w-[20ch] cursor-text px-2 py-4 text-center text-xl font-semibold sm:px-[4ch] sm:py-2;
    }

    .suffix {
      margin: 0 0 0 calc(100% - 2.5rem);
      @extend .prefix;
    }

    &::after {
      right: $h-box;
      bottom: $h-box;
      border-bottom: 1px solid $primary-color;
      content: ' ';
      @apply absolute block h-px w-11/12;
    }
  }

  h1 {
    @apply mb-6;
  }

  h2 {
    color: $heading-color;
    @apply relative mb-4 inline-block text-xl font-semibold;

    &::before {
      content: '##';
      color: $main-color;
      @apply pr-2;
    }
  }

  h3 {
    @extend h2;

    &::before {
      content: '###';
      color: $main-color;
      @apply pr-2;
    }
  }

  h4 {
    @extend h2;

    &::before {
      content: '####';
      color: $main-color;
      @apply pr-2;
    }
  }

  & > p {
    line-height: 2rem;
    @apply mb-4 cursor-text;

    // 后面紧跟 ul, ol 等时，不要太大的 margin-bottom
    &:has(+ ul, + ol) {
      @apply mb-2;
    }
  }

  .pre {
    @apply isolate mb-4 overflow-hidden rounded-lg;

    div {
      &:nth-child(2)::-webkit-scrollbar-thumb {
        background: #777;
      }
    }
  }

  pre:has(> span) {
    @apply mb-4;

    white-space: normal;
  }

  :not(pre) code {
    color: #405363;
  }

  pre code {
    @apply text-purple-300;
  }

  a {
    word-break: break-word;

    code {
      @apply text-purple-500;
    }
  }

  .inline-code {
    background-color: #e6e8ef;
    @apply rounded px-1 py-0.5;
  }

  .toolbar {
    position: relative;
    background-color: rgb(34 31 31);
    @apply flex align-middle text-blue-400;

    .toolbar-language {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: text;
    }

    .toolbar-action {
      margin-left: auto;
      @apply mr-2;
    }

    &::before {
      position: absolute;
      top: 50%;
      width: 11px;
      height: 11px;
      background: #fc625d;
      border-radius: 50%;
      box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
      transform: translate(50%, -50%);
      content: ' ';
    }
  }

  svg {
    display: inline-block;
  }

  strong {
    @apply text-base font-semibold;
  }

  // blockquote
  .blockquote {
    @apply mb-4 border-l-4 border-purple-400 bg-gray-100 p-4;

    p {
      @apply my-0;
    }
  }

  // table
  .table {
    border: darkgrey 1px dashed;
    cursor: text;
    width: max-content;

    thead {
      border-bottom: darkgrey 1px dashed;

      tr {
        th {
          padding: 1em;
          border-left: darkgrey 1px dashed;
          text-align: center;

          &:first-child {
            border: none;
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: darkgrey 1px dashed;

        td {
          padding: 0.5em;
          text-align: center;
          border-left: darkgrey 1px dashed;

          &:first-child {
            border: none;
          }
        }
      }
    }
  }

  .post-info {
    color: $heading-color;
    @apply mb-4 mt-8 text-center align-middle text-sm;
  }

  ol {
    padding-inline-start: 2.5em;
    @apply mb-4 block cursor-text list-decimal;

    & > li {
      display: list-item;

      &::marker {
        color: $main-color;
      }
    }
  }

  ul {
    display: block;
    padding-inline-start: 2em;
    list-style-type: disc;
    cursor: text;
    @apply mb-4;

    & > li {
      display: list-item;

      &::marker {
        color: $heading-color;
      }
    }

    &.contains-task-list {
      list-style-type: none;
      padding-inline-start: 1em;

      & > li {
        input {
          vertical-align: -0.15em;
        }
      }
    }
  }

  .anchor {
    position: absolute;
    top: calc(-0.5rem - var(--nav-height));
    visibility: hidden;
    z-index: -1;
  }
}
