.container {
  position: relative;
  width: 90%;
  margin: auto;
  background-color: white;

  @screen sm {
    width: 600px;
  }

  @apply mx-auto mb-4 rounded p-4 sm:p-6;

  .author {
    @apply mb-4 flex;

    .avatar {
      @apply mr-2 w-14;
    }

    .nickname {
      @apply cursor-text text-blue-600;
    }
  }

  .content {
    @apply text-lg;

    .text {
      font-family: 'Zpix', serif;
      white-space: pre-line;
      @apply cursor-text break-all font-normal text-gray-600;
    }
  }

  .assets {
    @apply grid grid-cols-3 gap-2 py-2;

    .img {
      @apply aspect-square w-full object-cover;
    }
  }
}
