.container {
  position: relative;
  width: 90%;
  margin: auto;
  background-color: white;

  @screen sm {
    width: 600px;
  }

  @apply mx-auto mb-4 rounded-lg p-6 pt-7;

  .author {
    @apply mb-4 flex;

    .avatar {
      @apply mr-2 w-16;
    }

    .nickname {
      @apply cursor-text text-xl;
    }
  }

  .content {
    @apply text-lg;
  }

  .assets {
    @apply grid grid-cols-3 gap-2 py-2;

    .img {
      @apply aspect-square w-full object-cover;
    }
  }
}
