.container {
  position: relative;
  width: 100%;
  margin: auto;
  background-color: white;

  @screen sm {
    width: 600px;
  }

  @apply mx-auto border-b border-gray-100 p-6 pt-7 sm:mb-4 sm:rounded-lg sm:border-none;

  .author {
    @apply mb-4 flex;

    .avatar {
      @apply mr-2 w-16;
    }

    .nickname {
      @apply cursor-text text-xl;
    }
  }

  article {
    & > h2:first-child {
      visibility: hidden;
      height: 0;
      scroll-margin-top: calc(var(--nav-height) + 1rem + 7rem);
    }
  }

  .content {
    background: unset;

    @apply p-0 text-lg;

    p:last-child {
      @apply mb-0;
    }
  }

  .assets {
    @apply grid grid-cols-3 gap-2 py-2;

    .img {
      @apply aspect-square w-full object-cover;
    }
  }
}
