.editor {
  .toolbar {
    height: 2rem;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px 10px rgb(160 44 219 / 7%);
    @apply flex text-gray-600 align-middle bg-gray-200 w-full justify-start items-center;

    .icon {
      @apply mx-2 text-lg p-0.5 rounded;

      &:hover {
        @apply bg-blue-300;
      }

      &.post {
        @apply text-blue-400 ml-auto mr-2;
      }
    }
  }

  .main {
    height: calc(100vh - 2rem - var(--footer-height));
    @apply flex w-full;

    .input-content {
      @apply w-1/2;
    }

    .preview {
      border-left: 1px solid black;
      @apply h-full w-1/2 overflow-y-auto;
    }
  }
}
