.editor {
  .toolbar {
    height: 2rem;
    position: relative;
    z-index: 1;
    @apply flex w-full items-center justify-start bg-gray-200 align-middle text-gray-600;

    .icon {
      @apply mx-2 rounded p-0.5 text-lg;

      &:hover {
        @apply bg-blue-300;
      }

      &.post {
        @apply ml-auto mr-2 text-blue-400;
      }
    }
  }

  .main {
    height: calc(100vh - 2rem - var(--footer-height));
    @apply flex w-full;

    .input-content {
      @apply w-1/2;
    }

    .preview {
      border-left: 1px solid black;
      @apply h-full w-1/2 overflow-y-auto;
    }
  }
}
