.editor {
  height: 100vh;
  @apply w-full flex flex-col;
  .toolbar {
    @apply flex text-gray-600 align-middle bg-gray-200 p-2 w-full justify-start;
    .icon {
      @apply mx-2 text-lg p-0.5 rounded;
      &:hover {
        @apply bg-blue-300;
      }
      &.post {
        @apply text-blue-400 ml-auto mr-4;
      }
    }
  }
  .main {
    flex: 1;
    @apply flex w-full;
    .input_content {
      @apply w-1/2 rounded p-2 shadow-lg;
    }
    .preview {
      border-left: 1px solid black;
      @apply h-full w-1/2 shadow overflow-y-auto;
    }
  }
}
