@keyframes spin4 {
  to {
    transform: translateY(-6em);
  }
}

.loading {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;
}

.loading::after {
  display: inline-table;
  white-space: pre;
  text-align: left;
  content: '\A.\A..\A...';
  animation: spin4 2s steps(4) infinite;
}
