/* stylelint-disable */
#__next {
  min-height: inherit;
}

@keyframes flow {
  to {
    background-position: -200% 0;
  }
}

@mixin rainbowText() {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: transparent;
  background: linear-gradient(90deg, #47cf73, #ffdd40, #ae63e4, #0ebeff, #47cf73) 0 0% / 200%;
  background-clip: text;
  animation: 5s ease-in-out 0s infinite normal none running flow;
}

.rainbow-text {
  @include rainbowText;
}

@mixin line-clamp($lines: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
