@import '../styles';

.wrap {
  width: 100%;
  @apply pb-6;

  .timeline-show {
    width: min(100%, 600px);
    margin: auto;

    .feeds {
      &:first-child {
        @apply pt-4;
      }
    }

    .footer {
      @apply mt-8 text-center text-xs text-pink-400;
    }
  }

  .banner {
    box-shadow: 0 0 10px 5px rgb(160 44 219 / 7%);
    @apply relative m-auto mb-4 flex flex-col justify-center overflow-hidden align-middle;

    .banner-bg {
      position: relative;
      height: 150px;
      @apply m-auto w-full;
      @screen sm {
        height: 300px;
      }
    }

    .author-info {
      z-index: 1;
      @apply m-auto flex w-full flex-wrap pb-4;

      .author-avatar {
        width: 80px;
        margin-top: -40px;
        @apply mr-4 ml-8 select-none rounded-lg;
      }

      .author-nickname {
        align-self: flex-end;
        font-family: 'Zpix', sans-serif;
        @apply mb-2 cursor-text text-lg font-medium;
      }

      .author-bio {
        font-family: 'Zpix', sans-serif;
        @apply mt-4 ml-8 w-full cursor-text text-xl font-medium;

        span {
          @include rainbowText;
        }
      }
    }
  }
}
