@import 'styles';

.wrap {
  width: 100%;
  min-height: calc(100dvh - var(--footer-height) - var(--nav-height));
  background-color: #f5f5f6;
  font-family: 'Zpix', sans-serif;

  @apply pb-6;

  .timeline-show {
    width: min(100%, 600px);
    margin: auto;

    .feeds {
      & > div:nth-last-child(2) {
        @apply border-none;
      }
    }

    .footer {
      @apply my-4 text-center text-xs text-pink-400;
    }
  }

  .banner {
    background-color: white;
    @apply relative m-auto mb-4 flex flex-col justify-center overflow-hidden align-middle;

    .banner-bg {
      position: relative;
      height: 150px;
      @apply m-auto w-full;
      @screen sm {
        height: 300px;
      }
    }

    .author-info {
      z-index: 1;
      @apply m-auto flex w-full flex-wrap pb-4;

      .author-avatar {
        width: 80px;
        margin-top: -40px;
        @apply mr-4 ml-8 select-none rounded-lg;
      }

      .author-nickname {
        align-self: flex-end;
        font-family: 'Zpix', sans-serif;
        @apply mb-2 cursor-text text-lg font-medium;
      }

      .author-bio {
        font-family: 'Zpix', sans-serif;
        @apply mt-4 ml-8 w-full cursor-text text-xl font-medium;

        span {
          @include rainbowText;
        }
      }
    }
  }
}
