@import '../styles';

.wrap {
  width: 100%;
  min-height: calc(100vh - var(--footer-height) - var(--nav-height));
  @apply pb-6;

  .timeline-show {
    width: min(100%, 600px);
    margin: auto;

    .feeds {
      &:first-child {
        @apply pt-4;
      }
    }

    .footer {
      @apply text-xs text-pink-400 text-center mt-6 mb-12;
    }
  }

  .banner {
    box-shadow: 0 0 10px 5px rgb(160 44 219 / 7%);
    @apply m-auto flex align-middle justify-center flex-col mb-4 overflow-hidden relative;

    .banner-bg {
      height: 150px;
      @apply m-auto w-full;
      @screen sm {
        height: 300px;
      }
    }

    .author-info {
      z-index: 1;
      @apply m-auto flex pb-4 flex-wrap w-full;

      .author-avatar {
        width: 80px;
        margin-top: -40px;
        @apply rounded-lg mr-4 ml-8 select-none;
      }

      .author-nickname {
        align-self: flex-end;
        font-family: 'Zpix', sans-serif;
        @apply text-lg font-medium mb-2 cursor-text;
      }

      .author-bio {
        font-family: 'Zpix', sans-serif;
        @apply w-full mt-4 ml-8 text-xl font-medium cursor-text;

        span {
          @include rainbowText;
        }
      }
    }
  }
}
