.gallery {
  min-height: calc(100% - var(--footer-height) - var(--nav-height));
  @screen sm {
    @apply grid-cols-4;
    &::after {
      grid-column: span 4;
      height: 0.1px;
      content: '';
    }
  }
  @screen md {
    @apply grid-cols-5;
    &::after {
      grid-column: span 5;
      height: 0.1px;
      content: '';
    }
  }
  @screen lg {
    @apply grid-cols-6;
    &::after {
      grid-column: span 6;
      height: 0.1px;
      content: '';
    }
  }
  @screen xl {
    @apply grid-cols-7;
    &::after {
      grid-column: span 7;
      height: 0.1px;
      content: '';
    }
  }
  @screen 2xl {
    @apply grid-cols-8;
    &::after {
      grid-column: span 8;
      height: 0.1px;
      content: '';
    }
  }

  &::after {
    grid-column: span 3;
    height: 0.1px;
    content: '';
  }

  @apply grid gap-4 grid-cols-3 p-4 bg-white overflow-auto;
}
