.gallery {
  height: calc(100% - var(--nav-height) - var(--footer-height));
  @screen sm {
    @apply grid-cols-4;
  }
  @screen md {
    @apply grid-cols-5;
  }
  @screen lg {
    @apply grid-cols-6;
  }
  @screen xl {
    @apply grid-cols-7;
  }
  @screen 2xl {
    @apply grid-cols-8;
  }
  @apply grid gap-4 grid-cols-3 overflow-auto p-4;
  &::after {
    grid-column: span 8;
    height: 0.1px;
    content: '';
  }
  .image_wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: var(--cursor-pointer);
    }
  }
}
