@import '../index.module';

.toc {
  position: sticky;
  top: calc(var(--nav-height) + 2rem);
  height: calc(100vh - var(--nav-height) - 2rem - var(--footer-height));
  width: var(--markdown-toc-width);
  align-self: start;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
  @apply ml-4 rounded-lg p-6 text-purple-500;

  .anchor {
    color: $main-color;
    @apply align-middle text-lg font-medium;
  }
}
