@import '~@powerfulyang/components/dist/es/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: url('/cursor/default.png'), auto;
}

a {
  cursor: url('/cursor/pointer.png'), auto;
}

html {
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

body {
  font-family: 'Pingfang SC', 'microsoft yahei', serif;
}

/* 滚动条 */
::-webkit-scrollbar-thumb:horizontal {
  width: 4px;
  background-color: #ccc;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #8771b7;
  border: 2px solid #fff;
  border-radius: 30%;
  outline: 2px solid #fff;
  outline-offset: -2px;
}

::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #9bc368;
  border-radius: 50%;
}
