@keyframes loading-img {
  50% {
    opacity: 0.3;
  }
}

.loading {
  animation: loading-img 2s infinite;
  @apply bg-gray-100;
}

.loaded_img {
  box-shadow: 5px 5px 5px 5px rgb(160 44 219 / 13%);
  @apply rounded;
}
