.loaded-img {
  background: unset;
}

$skeleton-color: rgb(0 0 0 / 15%);
$skeleton-to-color: white;

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.loading-img {
  background: linear-gradient(
    135deg,
    $skeleton-color 35%,
    $skeleton-to-color 37%,
    $skeleton-color 40%
  );
  background-size: 300% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}
