$primary-color: #dec6fb;
$heading-color: rgba(37, 99, 235, 0.8);

.markdown_body {
  width: min(900px, 100%);
  // 父元素设置 min-height 子元素设置 height 100% 继承不了的情况解决 给父元素设置 display: flex
  line-height: 1.75;
  letter-spacing: 1px;
  background-color: #fff;
  background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%),
    linear-gradient(360deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%);
  background-position: center center;
  background-size: 20px 20px;
  @apply box-border h-auto min-h-full px-8 py-10;

  .heading1 {
    border-color: $primary-color;
    border-width: 1px;
    $h-box: -0.5rem;
    @apply relative block h-auto p-2 font-bold text-center text-black border-solid;
    &::before {
      top: $h-box;
      left: $h-box;
      border-bottom: 1px solid $primary-color;
      content: ' ';
      @apply absolute block w-11/12 h-px;
    }

    .prefix {
      display: block;
      width: 3px;
      height: 3px;
      margin: 0 0 0 2.5rem;
      overflow: hidden;
      line-height: 3px;
      background-color: $primary-color;
      box-shadow: 3px 0 $primary-color, 0 3px $primary-color, -3px 0 $primary-color,
        0 -3px $primary-color;
    }

    .content {
      word-break: break-word;
      @apply block px-20 text-2xl font-medium text-center;
    }

    .suffix {
      margin: 0 0 0 calc(100% - 2.5rem);
      @extend .prefix;
    }

    &::after {
      right: $h-box;
      bottom: $h-box;
      border-bottom: 1px solid $primary-color;
      content: ' ';
      @apply absolute block w-11/12 h-px;
    }
  }

  h2 {
    width: 100%;
    color: $heading-color;
    @apply inline-block text-2xl align-middle font-semibold my-4;
    &::before {
      content: '#';
      @apply text-2xl font-semibold pr-2;
    }
  }

  h3 {
    color: $heading-color;
    text-align: left;
    @apply text-lg text-xl font-medium my-3;
    &::before {
      content: '##';
      @apply text-xl font-medium pr-2;
    }
  }

  h4 {
    color: $heading-color;
    @apply text-lg font-medium inline-block my-2;
    &::before {
      content: '###';
      @apply text-lg font-semibold pr-2;
    }
  }

  .link {
    position: relative;
    display: inline-block;
    color: $heading-color;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transform-origin: right bottom;
      transition: transform 0.3s ease;
      content: '';
      @apply bg-blue-400;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left bottom;
    }
  }

  a {
    color: $heading-color;
    @apply text-base pb-0.5;
  }

  pre {
    @apply rounded-lg overflow-hidden my-4;
  }

  .inline_code {
    padding: 0.2rem;
    color: #4a4a4a;
    @apply rounded bg-blue-100;
  }

  .toolbar {
    position: relative;
    font-family: 'Fira Code', sans-serif;
    background-color: rgb(34, 31, 31);
    @apply flex text-blue-400 align-middle;
    .toolbar_language {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .toolbar_action {
      margin-left: auto;
      @apply mr-2;
    }
    &::before {
      position: absolute;
      top: 50%;
      z-index: 2;
      width: 11px;
      height: 11px;
      background: #fc625d;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
      box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
      transform: translate(50%, -50%);
      content: ' ';
    }
  }

  svg {
    display: inline-block;
  }

  p {
    line-height: 2rem;
  }

  strong {
    color: $heading-color;
    @apply font-semibold text-base;
  }

  // blockquote
  .blockquote {
    @apply p-4 bg-gray-300 border-l-4 border-blue-400 my-4;
    p {
      @apply my-0;
    }
  }

  // table
  .table {
    border: darkgrey 2px dashed;

    thead {
      border-bottom: cornflowerblue 2px solid;

      tr {
        th {
          padding: 1em;
          border-left: cornflowerblue 2px solid;

          &:first-child {
            border: none;
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: darkgrey 2px dashed;

        td {
          padding: 0.5em;
          text-align: center;
          border-left: cornflowerblue 2px solid;

          &:first-child {
            border: none;
          }
        }
      }
    }
  }

  .post_info {
    @apply flex justify-center flex-wrap my-8;
    .post_info_comment {
      @apply text-sm text-pink-500 pl-1;
    }

    .my {
      @apply mx-4;
    }

    .author {
      @extend .my;
    }

    .date {
      @extend .my;
    }

    .word_count {
      @extend .my;
    }

    .view_count {
      @extend .my;
    }

    .qrcode {
      @extend .my;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  ul {
    display: block;
    padding-left: 2em;
    list-style-type: disc;
    &.contains_task_list {
      padding-left: 1em;
      list-style-type: none;
    }
    li {
      display: list-item;
      padding-left: 0.2em;
      &::marker {
        @apply text-blue-400;
      }
    }
  }
  ol {
    padding-left: 1em;
    @apply block;
    li {
      display: list-item;
      .ordered_list_index {
        @apply text-blue-400 pr-2;
        &::after {
          content: '.';
        }
      }
    }
  }
}
