@import 'styles';
@import '~@powerfulyang/components/dist/es/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-weight: normal;
  font-family: 'Zpix';
  font-style: normal;
  src: url('/fonts/zpix.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::-webkit-scrollbar {
  width: 6px;
  height: 9px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}

/**
  0.5em保证了最小字号，1vw则确保了字体能随着视口缩放。
  能保证基础字号从iPhone6里的11.75px一直过渡到1200px屏幕的20px。
  根元素 一般是 html ？
 */
:root {
  --nav-height: 4rem;
  --footer-height: 3rem;
  --scrollbar-bg: rgb(1 2 3 / 40%);
  --markdown-toc-width: 20rem;

  /**
    z-index 相关变量
  */
  --nav-z-index: 3;
  --image-preview-z-index: 5;
  --post-preview-z-index: 5;
  --redirecting-z-index: 5;
  // end of z-index variables

  font-size: calc(12px + 0.15vw);
  font-family: 'Fira Code', -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    PingFang SC, Hiragino Sans GB, Source Han Sans SC, Noto Sans CJK SC, Microsoft YaHei,
    WenQuanYi Micro Hei, WenQuanYi Zen Hei, Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  //scrollbar-gutter: stable; 这个属性并不好用
  overflow-x: hidden;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'rlig' 1, 'calt' 0;
  touch-action: manipulation;

  @apply default;

  body {
    position: relative;
    width: 100vw;
    //overflow: overlay; // 终归还是要设置overflow: overlay，否则 mac 上还是抖动
  }

  .link {
    position: relative;
    @apply break-words text-purple-400;

    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 1px;
      transform: scaleX(0);
      transform-origin: right bottom;
      transition: transform 0.25s ease-in;
      content: '';
      @apply bg-purple-500;
    }

    &:hover::after {
      transform: scaleX(1) scaleY(1.2);
      transform-origin: left bottom;
    }

    &:visited {
      @apply text-purple-500;
    }
  }
}

:where(div[data-name='mojs-shape']) {
  pointer-events: none;
}

a {
  @apply pointer;
}

.common-shadow {
  box-shadow: 0 0 10px 5px rgb(160 44 219 / 7%);
}
