@charset "UTF-8";
@import '../styles/styles';
@import url('https://fonts.googleapis.com/css2?family=Fira%20Code:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-weight: normal;
  font-family: 'Zpix';
  font-style: normal;
  src: url('/zpix.woff') format('woff');
  font-display: swap;
}

::-webkit-scrollbar {
  width: 6px;
  height: 9px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}

body {
  width: 100vw;
  overflow: hidden;
}

/**
  0.5em保证了最小字号，1vw则确保了字体能随着视口缩放。
  能保证基础字号从iPhone6里的11.75px一直过渡到1200px屏幕的20px。
  根元素 一般是 html ？
 */
:root {
  --nav-height: 4rem;
  --footer-height: 3rem;
  --scrollbar-bg: rgb(1 2 3 / 40%);
  --markdown-toc-width: 20rem;

  /**
    z-index 相关变量
  */
  --nav-z-index: 3;
  --indicator-z-index: 4;
  --image-preview-z-index: 5;
  --post-preview-z-index: 5;
  --redirecting-z-index: 9999999;
  // end of z-index variables

  font-size: calc(12px + 0.2vw);
  font-family: 'Fira Code', sans-serif;
  font-style: normal;
  font-weight: normal;
  //scrollbar-gutter: stable; 这个属性并不好用
  overflow-y: auto;
  overflow-x: hidden;

  @extend .default;

  body {
    position: absolute;
    //overflow: overlay; // 终归还是要设置overflow: overlay，否则 mac 上还是抖动
  }

  .link {
    position: relative;
    @apply text-purple-400 break-words;

    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 1px;
      transform: scaleX(0);
      transform-origin: right bottom;
      transition: transform 0.25s ease-in;
      content: '';
      @apply bg-purple-500;
    }

    &:hover::after {
      transform: scaleX(1) scaleY(1.2);
      transform-origin: left bottom;
    }

    &:visited {
      @apply text-purple-500;
    }
  }
}

:where(div[data-name='mojs-shape']) {
  pointer-events: none;
}

a {
  @extend .pointer;
}

html {
  overflow-y: scroll;
}
