@import '../../styles/styles';

.body {
  z-index: -1;
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  background-color: #fcfcff;
  @apply py-4 pb-10;
}

.main {
  width: 90%;
  margin: auto;

  .article-title {
    @apply font-normal px-4 py-2 text-white font-semibold text-2xl;

    backdrop-filter: brightness(0.8);
  }

  .years {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .year {
      display: flex;
      align-items: center;
      @apply mr-4 mt-4 italic text-gray-300;
    }

    .active {
      @apply text-purple-400;
    }
  }

  .post-preview {
    display: flex;
    justify-content: center;
    position: fixed;
    inset: 0;
    z-index: 12;
    padding: 2rem 0;
  }

  .post-title {
    position: absolute;
    z-index: 3;
    top: 3rem;
    padding: 2rem;
    @apply text-lg w-full;
  }

  .overlay {
    background: rgb(0 0 0 / 50%);
    position: fixed;
    inset: 0;
    z-index: 9;
  }

  .card {
    position: relative;
    padding: 25px;
    height: 460px;
    flex: 0 0 40%;
    max-width: 40%;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .card:nth-child(odd) {
    padding-left: 0;
  }

  .card:nth-child(even) {
    padding-right: 0;
  }
}
