@import '../../styles/styles';

$popover-container-width: min(90vw, 700px);

$mobile-poster-height: 40vh;
$poster-height: 410px;

.body {
  z-index: -1;
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  background-color: #fcfcff;
  @apply py-4 pb-10 sm:px-28;
}

.post-preview {
  position: fixed;
  inset: 0;
  z-index: var(--post-preview-z-index);
  padding: 35px 0;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  .container {
    background-color: #fff;
    max-width: $popover-container-width;
    height: max-content;
    overflow: hidden;
    border-radius: 20px;
    margin: auto;
    position: relative;
    isolation: isolate;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: max-content;
      z-index: calc(var(--post-preview-z-index) + 1);
      height: $mobile-poster-height;
      @screen sm {
        height: $poster-height;
      }

      img {
        max-width: 700px;
        width: 90vw;
        height: $mobile-poster-height;
        @screen sm {
          height: $poster-height;
        }
      }
    }

    .content {
      max-width: 700px;
      width: 90vw;
      padding: $mobile-poster-height 0 0;

      @screen sm {
        padding: $poster-height 0 0;
      }
    }
  }
}

.overlay {
  background: rgb(0 0 0 / 50%);
  position: fixed;
  inset: 0;
  z-index: var(--post-preview-z-index);
  will-change: opacity;
  pointer-events: none;
}

.main {
  margin: auto;

  .years {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .year {
      display: flex;
      align-items: center;
      @apply mx-4 text-gray-400;
    }

    .active {
      @apply text-purple-500;
    }
  }

  .card {
    padding: 1.5rem;
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    height: $mobile-poster-height;

    @screen sm {
      height: $poster-height;
    }

    .card-header {
      position: absolute;
      z-index: 2;
      width: calc(100% - 50px);

      &-title {
        display: inline-block;
        background-color: rgb(0 0 0 / 30%);
        @apply text-xl text-white p-4 rounded-xl;
      }

      &-date {
        display: inline-block;
        @apply text-gray-200 text-sm;
      }
    }

    .container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 20px;
      isolation: isolate;

      .image {
        position: absolute;
        top: 0;
        left: 0;
        width: max-content;
        height: $mobile-poster-height;
        @screen sm {
          height: $poster-height;
        }

        img {
          max-width: 700px;
          width: 90vw;
          height: $mobile-poster-height;
          @screen sm {
            height: $poster-height;
          }
        }
      }

      .content {
        padding: 420px 0 0;
        max-width: 700px;
        width: 90vw;
      }
    }
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .card:nth-child(2n) {
    .card-header {
      top: 0;
      right: 0;
      text-align: right;
    }
  }

  .card:nth-child(2n + 1) {
    .card-header {
      left: 0;
      top: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    .card {
      flex: 1 0 100%;
      max-width: 100%;

      .card-header {
        padding: 10px;
      }
    }

    .card:nth-child(4n + 1),
    .card:nth-child(4n + 4) {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }
}
