@import '../../styles/styles';

$popover-container-width: min(90vw, 700px);

.body {
  z-index: -1;
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  background-color: #fcfcff;
  @apply py-4 pb-10 sm:px-28;
}

.post-preview {
  position: fixed;
  inset: 0;
  z-index: 12;
  padding: 35px 0;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  scrollbar-width: none;

  .container {
    background-color: #fff;
    max-width: $popover-container-width;
    height: max-content;
    overflow: hidden;
    border-radius: 20px;
    margin: auto;
    position: relative;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 420px;
      width: max-content;
    }

    .content {
      padding: 420px 0 0;
      max-width: 700px;
      width: 90vw;
    }
  }
}

.overlay {
  background: rgb(0 0 0 / 50%);
  position: fixed;
  inset: 0;
  z-index: 9;
  will-change: opacity;
}

.main {
  margin: auto;

  .years {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .year {
      display: flex;
      align-items: center;
      @apply mr-4 mt-4 text-gray-300 text-xl;
    }

    .active {
      @apply text-purple-400;
    }
  }

  .card {
    padding: 25px;
    height: 460px;
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;

    .card-header {
      position: absolute;
      inset: 0;
      padding: 60px;
      z-index: 2;

      &-title {
        display: inline-block;
        background-color: rgb(0 0 0 / 30%);
        @apply text-2xl text-white p-4 rounded-t-xl;
      }

      &-date {
        background-color: rgb(0 0 0 / 30%);
        display: inline-block;
        @apply text-gray-200 text-sm p-2 rounded-b-xl;
      }
    }

    .container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 20px;

      .image {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        height: 420px;
        width: max-content;
      }

      .content {
        padding: 460px 35px 35px;
        max-width: 700px;
        width: 90vw;
      }
    }
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .card:nth-child(odd) {
    padding-left: 0;
  }

  .card:nth-child(even) {
    padding-right: 0;
  }

  @media only screen and (max-width: 600px) {
    .card {
      flex: 1 0 100%;
      max-width: 100%;
    }

    .card:nth-child(4n + 1),
    .card:nth-child(4n + 4) {
      flex: 1 0 100%;
      max-width: 100%;
    }

    .card:nth-child(odd) {
      @apply px-8;
    }

    .card:nth-child(even) {
      @apply px-8;
    }
  }
}
