.post-wrap {
  background-color: #fcfcff;
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  @apply py-8;

  .post {
    float: left;
    position: relative;
    left: calc(50%);
    transform: translateX(-50%);
    box-shadow: 0 0 10px 5px rgb(160 44 219 / 7%);
    @apply rounded-lg py-16 px-8;
    @screen sm {
      @apply px-10 py-20;
    }
  }
}
