.post-wrap {
  display: flex;
  @apply justify-center sm:py-16 sm:px-6;

  .post {
    width: min(900px, 100%);

    @screen sm {
      box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
      width: min(900px, calc(100% - 20rem));
    }

    @apply sm:rounded-lg sm:px-12 sm:pt-20;
  }
}
