@import 'src/styles/styles';

.nav_placeholder {
  height: var(--nav-height);
}

.nav {
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--nav-height);
  background: transparent;
  box-shadow: 0 0 20px 10px rgb(160 44 219 / 7%);
  backdrop-filter: blur(5px);
  img {
    width: 2.5rem;
    @apply rounded-full mx-4;
  }
  .user {
    @apply flex items-center mr-4 text-pink-400;
    .nickname {
      display: none;
      @apply text-pink-400;
      @screen md {
        display: block;
      }
    }
  }
  .title {
    display: none;
    @screen sm {
      display: inline-block;
      color: transparent;
      font-family: 'Zpix', Sans serif;
      background: linear-gradient(90deg, #47cf73, #ffdd40, #ae63e4, #0ebeff, #47cf73);
      -webkit-background-clip: text;
      @apply text-2xl mx-10;
    }
    &::after,
    &::before {
      position: absolute;
      color: transparent;
      background: linear-gradient(90deg, #47cf73, #ffdd40, #ae63e4, #0ebeff, #47cf73);
      -webkit-background-clip: text;
      transform: translateY(100%) rotateZ(30deg);
      content: attr(data-text); // 又学会一个东西
      @apply text-xs;
    }
    &::after {
      left: 0;
      transform: translateX(100%) translateY(100%) rotateZ(-30deg);
    }
  }
  .left {
    @apply flex items-center;
  }
  .menus {
    flex: 1;
    color: #7d7a9e;
    .active {
      color: #242e4c;
    }
    a {
      @apply mx-4 uppercase font-normal text-sm;
    }
  }
}
