@import 'src/styles/styles';

.nav {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--nav-height);
  background: white;
  box-shadow: 0 10px 20px -7px rgb(160 44 219 / 7%);
  img {
    width: 2.5rem;
    @apply rounded-full mx-4;
  }
  .user {
    @apply flex items-center;
    .nickname {
      display: none;
      color: #242e4c;
      @screen sm {
        display: block;
      }
    }
  }
  .title {
    display: none;
    @screen sm {
      font-family: 'Zpix', Sans serif;
      @include rainbowText;
      @apply text-2xl mx-10;
    }
  }
  .left {
    @apply flex items-center;
  }
  .menus {
    flex: 1;
    color: #7d7a9e;
    .active {
      color: #242e4c;
    }
    a {
      @apply mx-4 uppercase font-normal text-sm;
    }
  }
}
