@charset "UTF-8";
@import '~@powerfulyang/components/dist/es/index.css';
@import 'base';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-weight: normal;
  font-family: 'Zpix';
  font-style: normal;
  src: url('/zpix.woff') format('woff');
}

a,
button,
svg,
use,
path {
  @extend .cursor-self-pointer;
}

* {
  font-family: 'Zpix', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  cursor: url('/cursor/default.png'), auto;
}

html,
body,
#__next {
  @apply w-full h-full;
}
