@charset "UTF-8";
@import '~@powerfulyang/components/dist/es/index.css';
@import 'base';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-weight: normal;
  font-family: 'Zpix';
  font-style: normal;
  src: url('/zpix.woff') format('woff');
}

a,
button,
svg,
use,
path {
  @extend .cursor-self-pointer;
}

html,
body,
#__next {
  font-size: 13px;
  cursor: url('/cursor/default.png'), auto;

  --nav-height: 60px;
  @screen sm {
    font-size: 15px;
  }
  @apply w-full h-full;
}
