@charset "UTF-8";
@import '~@powerfulyang/components/dist/es/index.css';
@import '~monaco-editor/esm/vs/base/browser/ui/actionbar/actionbar.css';
@import 'base';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-weight: normal;
  font-family: 'Zpix';
  font-style: normal;
  src: url('/zpix.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-family: 'Fira Code';
  font-style: normal;
  src: url('/FiraCode-Regular.woff2') format('woff2');
}

a,
button,
svg,
use,
path {
  @extend .cursor-self-pointer;
}

html,
body,
#__next {
  font-size: 12px;
  cursor: url('/cursor/default.png'), auto;

  --nav-height: 4rem;
  --cursor-pointer: url('/cursor/pointer.png'), auto;
  --footer-height: 3rem;
  @screen sm {
    font-size: 14px;
  }
  @apply w-full h-full;
}
