@mixin text-ellipsis($line) {
  display: -webkit-box; //作为弹性伸缩盒子模型显示。
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line; //显示的行
}

.line-1-ellipsis {
  @include text-ellipsis(1);
}

.line-2-ellipsis {
  @include text-ellipsis(2);
}

.cursor-pointer {
  cursor: url('/cursor/pointer.png'), pointer;
}

.cursor-default {
  cursor: url('/cursor/default.png'), default;
}
