$text-color: #22d6d6;
.text-color {
  color: $text-color;
}

.home_bg {
  background: url('/bg.jpg') no-repeat center;
  @apply w-full h-full bg-cover bg-no-repeat bg-center;

  .blog_desc_section {
    @apply relative top-1/2 transform -translate-y-1/2 text-center;
    .blog_title {
      @apply text-4xl mb-8;
    }
    .blog_desc {
      max-width: 500px;
      height: 160px;
      @screen sm {
        @apply m-auto;
      }
      @apply bg-white bg-opacity-30 mx-8 rounded-3xl flex flex-col justify-center;
      .bio {
        @extend .text-color;
        @apply text-center my-6 text-xl;
      }
      .social_media {
        @apply flex flex-row justify-center;
        .twitter {
          width: 2rem;
          height: 2rem;
          margin: 1rem;
          color: #ccc;
        }
        .github {
          @extend .twitter;
        }
        .instagram {
          @extend .twitter;
        }
      }
    }
  }
}
