$fontColor: rgba(255, 255, 255, 0.75);
$bgColor: rgba(255, 255, 255, 0.35);
$fontWeight: 100;
$maxWidth: 400px;

#wrapper {
  * {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    list-style: none;
  }

  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 79vw;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $fontColor;
  font-weight: $fontWeight;

  #main {
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    color: #222222;
    padding: 5vh 0;
    margin-bottom: 5vh;
    @media (min-width: 1500px) {
      margin-top: 10vh;
      margin-bottom: 16vh;
    }

    #avatar {
      border-radius: 100%;
      height: 17vh;
      width: 17vh;
      @media (max-height: $maxWidth) {
        display: none;
      }
    }

    p {
      padding: 1vh 1rem;
      @media (min-width: $maxWidth) {
        padding: 2vh 7vw;
      }
    }

    footer {
      .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5vh;

        div {
          border: 1px solid $fontColor;
          box-sizing: border-box;
          border-radius: 100%;
          $icon-height: 4rem;
          width: $icon-height;
          height: $icon-height;
          cursor: pointer;
          margin: 0 1vw;
          @media (max-width: $maxWidth) {
            margin: 0 3vw;
          }

          &:hover {
            border-color: #ff7496;

            .icon {
              color: #fff;
            }
          }

          a {
            font-size: 2rem;
            color: $fontColor;
            line-height: $icon-height;
          }
        }
      }
    }
  }

  #footer {
    font-size: 13px;
    @media screen and (max-width: 768px) {
      font-size: 10px;
    }

    .copyright {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      line-height: 18px;
      padding: 0;

      li {
        padding: 0 10px;
      }

      a {
        color: #8e92ac;
        text-decoration: none;
      }
    }
  }
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

.animate {
  animation: rotate 1.6s;
}

#wrapper.bg-css {
  #main {
    background-color: rgba(255, 255, 255, 0.5);
  }

  #footer {
    .copyright {
      color: rgb(0, 0, 0);

      a {
        color: rgba(242, 242, 242, 0.6);
      }
    }
  }
}
