.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--footer-height);
  padding: 0 2rem;
  background-color: white;
  box-shadow: 0 0 20px 10px rgb(160 44 219 / 7%);
}
