@keyframes redirecting {
  to {
    background-position: -200% 0;
  }
}

.redirecting {
  position: fixed;
  top: 0;
  z-index: 9999999;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    90deg,
    #f16f5c 0,
    #f16f5c 12.5%,
    #5b56dd 0,
    #5b56dd 25%,
    #e15ced 0,
    #e15ced 37.5%,
    #27e559 0,
    #27e559 50%,
    #18c8c9 0,
    #18c8c9 62.5%,
    #dc8987 0,
    #dc8987 75%,
    #bb83d6 0,
    #bb83d6 87.5%,
    #e774bd 0,
    #e774bd
  );
  background-size: 200% 100%;
  animation: redirecting 5s linear infinite;
}

.indicator {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
      to right top,
      #f16f5c,
      #5b56dd,
      #e15ced,
      #27e559,
      #18c8c9,
      #dc8987,
      #bb83d6,
      #e774bd 50%,
      transparent 50%
    )
    no-repeat;
  background-size: 100% calc(100% - 100vh);
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: darken;
}

.indicator::after {
  content: '';
  position: fixed;
  top: 2px;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
}
