.main {
  height: calc(100% - var(--nav-height) - var(--footer-height));
  overflow: auto;
  background-color: #fcfcff;
  @apply p-4;
  .todo {
    max-width: 600px;
    @apply p-4 bg-white m-auto mb-4 rounded-lg shadow;
  }
}
