.wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  @apply w-full h-full;
  .blur {
    @apply w-full h-full p-20 overflow-hidden;
  }
  .image {
    z-index: 101;
    object-fit: contain;
    @apply w-full h-full;
  }
  .next {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 101;
    transform: translateY(-50%);
  }
  .prev {
    left: 0;
    @extend .next;
  }
}
