.wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  @apply bg-cover bg-center w-full h-full overflow-hidden;
  .blur {
    @apply backdrop-filter backdrop-blur w-full h-full p-10;
  }
  .image {
    z-index: 101;
    margin: auto;
    object-fit: contain;
    cursor: var(--cursor-pointer);
    @apply w-full h-full;
  }
}
